<div class="main-page">
  <div class="tap-side">
    <div class="money-text">
      <p class="text-top">
        {{money}} Flux
      </p>
      <p class="text-bottom">
        9.999 Flux per second
      </p>
    </div>
    <div class="money-icon"
    (click)="imgClick()">
      <img src="assets/shared-img/clickicon.png" alt="">
    </div>
  </div>

  <div class="upgrade-side">
    <div class="upgrade-header">
      <p>Upgrades</p>
    </div>
    <div class="accordion-container">
      <div class="accordion">
        <p class="accordion-text">Clicker</p>
        <app-accordion></app-accordion>
      </div>
      <div class="accordion">
        <p class="accordion-text">Heroes</p>
        <app-accordion></app-accordion>
      </div>
    </div>
  </div>
</div>