:root {
  /* цвета политры */
  --main-color: #04001b;
  --main-color-2: #FFFFFF;

  /* цвета текста */
  --text-main-color: #FFFFFF;
  --text-secondary-color: #7e7e7e;

  /* цвета бордера */
  --border-main-color: #FFFFFF;

  /* цвет ховера */
  --hover-main-color: #7e7e7e;

  /* цвета для тайги */
  --tui-tabs-border: #3f3f3f;
}