:root {
  /* цвета политры */
  --main-color: #FFFFFF;
  --main-color-2: #000000;

  /* цвета текста */
  --text-main-color: #000000;
  --text-secondary-color: #7e7e7e;

  /* цвета бордера */
  --border-main-color: #000000;

  /* цвет ховера */
  --hover-main-color: #e0e0e0;

  /* цвета для тайги */
  --tui-tabs-border: #e3e7ef;
}